article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* GENERAL STYLES */

html{
    font-size: 125%;
    margin: 0;
    padding: 0;       
}
.wrapper{
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}
select,
button,
div.Info{
    font-family: 'Cardo', serif;
}


/* HEADER */
/* header {
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/14/21/movie-showing-with-popcorn-film-reel-and-drinks-vector-3811421.jpg");
    background-size: cover;
    height:45vw;   
    position: relative; */
/* } */
h1{
    font-size:4rem;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;    
    text-align: center;
    margin: 30px 0 0 0;
}
h2{
    font-size:3rem;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 10px;
}

/* MAIN STYLES */

form{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
select{
    width: 25%;   
    margin: 0 auto;
    border: 2px solid darkgrey;
    background-color: rgb(134, 211, 207);    
}
main .wrapper{
    position: absolute;
    top:60%;   
    margin: 0 auto;       
  }
select:hover{
    border: 2px solid blue;
}
button{
    font-size: 25px;
    background-color:yellowgreen;
    border: none;
    color:white;
    padding: 10px 35px;
    border-radius: 20px;
    text-transform: uppercase;
}
button:hover{
    background-color:lightgreen;
}


.suggestionsContainer {
    padding-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
    margin-left:70px;                       
}


.movieContainer {
    width: 32%;    
    text-align: center;
    margin: 50px 0;       
    border: 2px solid black;             
}

.posterContainer {
    width: 100%;
    position: relative;
    border: 2px solid green;        
}

img {
    width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;    
}

div.info {
    width:100%;
    font-size: 30px;    
    background: white;
    color:white;
    align-items: center;
    background:maroon;
    padding-top: 3px;  
   
}
/* footer {
    color:white;
    background:blue;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    text-align: center;
    top: 90%;
    border: 2px solid black;
  } */

/* MEDIA QUERIES */

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    h1{
        font-size:3rem;
    }
    h2{
        font-size: 2rem;
        padding-top:40px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    h1{
        font-size:2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    form{
       width:100%;       
    }
    select{
        font-size:18px;
    }
    button{
        font-size: 20px;
        padding: 5px 25px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {    
    select{
        font-size: 15px;
        width: 40%;                  
    }
    button{
        font-size: 15px;
        padding: 5px 20px;
        position: absolute;
        top: 45%;
        margin: 0 auto;
        margin-top: 60px;
    }
}
